name: deploy

on:
    push:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  submodules: true
                  fetch-depth: 0

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                
            - uses: actions/cache@v2
              name: Configure pip caching
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-
            
            - name: Install Python dependencies
              run: |
                  python -m pip install -r requirements.txt

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: "latest"

            - name: Build Web
              run: hugo --gc --minify

            - name: Run Pagefind
              run: npx -y pagefind --source docs --bundle-dir ../static/_pagefind

            - name: Deploy Web
              uses: peaceiris/actions-gh-pages@v3
              with:
                  PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
                  EXTERNAL_REPOSITORY: Huang-Zifeng/Huang-Zifeng.github.io
                  PUBLISH_BRANCH: gh-pages
                  PUBLISH_DIR: ./docs
                  commit_message: ${{ github.event.head_commit.message }}